
.pokemon-list {
    text-align: center;
    padding: 20px;
  }
  
  .search-input {
    margin-bottom: 20px;
    padding: 10px 10px 10px 30px; 
    width: 500px;
    font-size: 16px;
    border-radius: 20px;
    border: 3px solid #4e00ac;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .card {
    background: #270045;
    border: 2px solid #4e00ac;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(20% - 10px);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .card:hover {
    transform: scale(1.05) rotateY(5deg) rotateX(5deg); 
    box-shadow: 0 0 40px #A200FF
  }
  @media (max-width: 768px) {
    .card {
      width: 150px; 
      height: 225px; 
    }
  
    .card img {
      width: 100%; 
      height: auto; 
      margin-left: 0; 
    }
  }
  
  .card img {
    width: 150%; 
  height: auto; 
  max-height: 100%; 
  object-fit: cover; 
  margin-left: -25%; 
  }
  
  .card h2 {
    font-size: 1.2em;
    margin: 10px 0 0 0;
  }
  